.container-calculadora {
  display: flex;
  flex-direction: column;
}

#titulo-imc {
  text-align: center;
  font-size: 1.875rem;
  font-weight: bold;
  color: #EEEEEE;
  margin-bottom: 1.25rem;
}

#section-imc, #section-desc {
  width: 19.5625rem;
  border-radius: 0.625rem;
  background-color: #EEEEEE;
  padding: 0.3125rem 1.25rem 1.25rem 1.25rem;
  display: flex;
  flex-direction: column;
}

.asterisco {
  color: #FF0000;
  width: 0;
}

.aviso {
  background-color: #FF0000;
  border-radius: 0.3125rem;
  padding: 0.3125rem;
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-size: 0.8125rem;
  color: #FFF;
}

#resultado-final {
  display: none;
  margin-top: -0.5625rem;
  border-radius: 0 0 0.625rem 0.625rem;
  padding: 0rem 1.25rem 1.25rem 1.25rem;
  flex-direction: column;
  background-color: #EEEEEE;
  color: #FFF;
}

#content-resultado {
  width: 17.0625rem;
  margin-top: 0.3125rem;
  padding: 0.625rem 0rem;
  background-color: #393E46;
  border-radius: 0.3125rem 0.625rem;
}

#imc, #faixa {
  font-size: 0.9375rem;
  margin: 0.625rem 1.25rem;
}

#negritoIMC, #negritoFaixa {
  font-weight: bold;
}

#botoes {
  display: flex;
  justify-content: space-around;
}